{
  "plugins": ["prettier-plugin-tailwindcss"],
  "singleQuote": true,
  "jsxSingleQuote": true,
  "tailwindConfig": "./tailwind.config.ts",
  "tabWidth": 2,
  "semi": true,
  "trailingComma": "all",
  "printWidth": 160,
  "endOfLine": "lf",
  "bracketSpacing": true,
  "arrowParens": "always",
  "quoteProps": "as-needed",
  "proseWrap": "preserve",
  "embeddedLanguageFormatting": "auto"
}
