@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
}
@keyframes blob {
  0%,
  100% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(20px, -30px) scale(1.1);
  }
  50% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  75% {
    transform: translate(20px, 20px) scale(0.95);
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.animate-blob {
  animation: blob 10s infinite cubic-bezier(0.4, 0.2, 0.2, 1);
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}

.animate-blink {
  animation: blink 1s step-start infinite;
}
@keyframes gradient-shift {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(10%, 15%) rotate(60deg);
  }
  50% {
    transform: translate(-5%, -25%) rotate(120deg);
  }
  75% {
    transform: translate(-15%, 10%) rotate(240deg);
  }
  100% {
    transform: translate(0, 0) rotate(360deg);
  }
}

@keyframes float {
  0% {
    top: 50%;
  }
  50% {
    top: calc(50% - 10px);
  }
  100% {
    top: 50%;
  }
}
